*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}
body{ /*body as parent*/
    display: flex;
    flex-direction: column;
}

/*----------------------------NAVIGATION CONTAINER DETAILS----------------------------*/

.navigation_container{
  height: 13vh;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed; 
  padding: 8px 46px;
  transition: 0.6s;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.466);
  box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
  background-color: #1B1B1B;
  z-index: 9;   
}

.navigation_container nav{
  flex: 1;
  
}
.navigation_container nav ul{
  float: right;
  background-color: #1B1B1B;
  display: flex;
}
.navigation_container nav ul li{
  list-style: none;
  margin-left: 20px;
}

.navigation_container nav ul li a{  
  font-family: "Segoe UI";
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.logo{
  margin: 0 15px;
  width: 70px;
  transition: width 0.6s;
}
.logotext{
  font-size: 36px;
  margin: 0 15px;
  padding-left: 5px;
  transition: font-size 0.6s;
}
.icons{
  width: 30px;
  margin: 0px 25px;
  cursor: pointer;
}

@media screen and (max-width: 600px){
  .navigation_container nav ul li{ /*navigation_container disappear*/
     display: none; 
  }
  .sidebar_container{ /*sidebar disappear*/
    display: none;
    position: relative;
  }
  .mainbar_container{ /*mainbar will take over*/
    position: fixed;
    width: 100%;
  }
  .logotext, .icons{
    margin: 0 10px;
  }
  .logo{
    margin: 0px;
  } 
}
@media screen and (max-width: 515px){
  .preview_content{
    margin-top: 25%;
  }
}

.general_container{ /*child#2 of body; general_container as parent*/
  height: 100vh;
    margin-top: 13vh;
    /*background-color: blue;   for visualization ras boxes*/
    background-color: #1B1B1B;  
    display: flex;
}


/*----------------------------SIDEBAR CONTAINER DETAILS----------------------------*/

.sidebar_container{ /*child#1 of general_container*/
    width: 15%;
    height: 87vh;
    position: fixed;
    left: 0;
    background-color: #1B1B1B;
    /*background-color: yellow; for visualization ras boxes*/
}
.sidebar_container ul li {
  display: block;
  margin: 15px 15px;
  padding: 20px 10px;
  text-align: left;
  color: white;
  list-style-type: none;
}
.sidebar_container ul{
  margin: 10% 2%;
  padding: 8% 0px;
}
.sidebar_container ul li a{
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 300;
  position: fixed;
  padding-left: 10px;
  margin-left: 5px;
  text-decoration: none;
  z-index: 2;
}
.sidebar_container ul li:hover a, .sidebar_container ul li:hover a{
  transition: 0.4s ease-in-out;
  padding-left: 18px; 
  color:#808080;
}

.social-links {
  position: fixed;
  bottom: 0;
  left: 5;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 35px 17px;
  z-index: 3;
}
.social-links a{
  text-decoration: none;
  font-size: 12px;
  color: #c2c2c2;
  margin: 10px 8px;
}
.social-links a:hover{
  text-decoration: underline;
  color:#9ac9db;
}

.mainbar_container{ /*child#2 of general_container; the parent of all sections containers*/
    position: absolute;
    width: 85%;
    min-height: 100%;
    right: 0;
    background-color: #1B1B1B;
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
    /*background-color: greenyellow; for visualization ras boxes*/
    display: flex;
    flex-direction: column;
}
/*----------------------------GENERALZ----------------------------*/
section{
    min-height: 600px;
    width: 100%;
    background-color: #1B1B1B;
    padding-top:60px;
   /* background-color: blueviolet; for visualization ras boxes*/
}
.header_text{
    position: absolute;
    margin: 4% 6%;
    width: 88%;
    padding-bottom: 2px;
    border-bottom: solid 0.5px #7e7d7d;
    font-size: 28px;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
}
span .text{
  margin: 0 20px;
}
.previewtext{
    text-decoration: none;
    font-size: 15px;
    color: #d8d038;
    margin: 10px 8px;
    text-align: left;
    margin-left: 6%;
}

.featuredtext{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: #d8d038;
    padding-bottom: 2px;
    width: 100%;
    padding-left: 50px;
    padding-bottom: 10px;
    text-align: left;
}
h2{
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  color: rgba(224, 219, 219, 0.781);
  font-family: 'Segoe UI';
}
.quotetext {
  font-size: 12px;
  font-family: 'Segoe UI';
  color: rgba(224, 219, 219, 0.781);
  text-align: justify;
  font-style: italic;
}
.quotebox{
  margin: 2% 13%;
}
.partner-content .quotebox{
  margin: 2% 8%;
}

/*----------------------------HOME SECTION----------------------------*/
.home_container{ /*child#1 of mainbar_container*/
    display: flex;
    flex-direction: column;
    background-image: url(images/UpImage.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}
.welcome_content{ 
    width: 60%;
    height: 120px;
    margin: 120px 30px 20px 100px;
}
.preview_content{ 
    width: 360px;
    height: 250px;
    margin-left: 5%;
    overflow: hidden;
}

.book-wrapper{
  display: flex;
  animation: slide 18s infinite;
}
.book-wrapper a img{
  height: 80%;
  max-width: 360px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.book-wrapper a:hover img{
  transform: scale(0.9);
}
@keyframes slide {
  0%{
      transform: translateX(0%);
  }
  25% {
      transform: translateX(-0%);
  }
  30% {
      transform: translateX(-100%);
  }
  50% {
      transform: translateX(-100%);
  }
  55% {
      transform: translateX(-200%);
  }
  75% {
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}

/*----------------------------NEWS SECTION----------------------------*/

.news_container, .aboutus-container2{ 
    background-image: linear-gradient(to top, #34353a, #2e2e32, #28282a, #212122, #1b1b1b);
    margin: 0px, 20%;
    padding-bottom: 25px;
}

.blog-section, .aboutus-section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
}
.cards, .aboutus-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 85%;
    margin: 0px, 20px;
}
.cards{
  margin-top: 80px;
}
.cards .card{
    width: 95%;
    position: relative;
    background: rgba(240, 234, 234, 0.71);
    border-radius: 16px;
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.image-section img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.news-content{
    padding: 15px 25px;
}
.news-content h4{
    font-family: 'Segoe UI';
    font-size: 17px;
    color:black;
    font-weight: 500;
}
.news-content p{
    color:#363636;
    font-family: 'Segoe UI';
    font-size:  12px;
    text-align: justify;
    overflow: hidden;
          -webkit-box-orient: vertical;
         -webkit-line-clamp: 5;
         display: -webkit-box;
    padding-bottom: 5px;
}

.card .posted-date{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #ada62b;
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
    border-top-left-radius: 16px;
    font-family: 'Segoe UI';
    font-size: 11px;
    padding: 3px 10px;
}
@media screen and (max-width: 992px) {
    .cards, .aboutus-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .aboutus-cards{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 717px) {
    .cards{
        grid-template-columns: 1fr;
    }
}

/*----------------------------ABOUTUS SECTION----------------------------*/
.aboutpage_container{ /*child#3 of mainbar_container*/
  background: #2e2e32;
}
.aboutus-content{
    margin: 20px;
    padding: 0 20%;
    padding-top: 30px;
    margin-top: 50px;
    text-align: center;
    background: #2e2e32;
  }
 
  .aboutpage_container img, .owners-card img{
    margin: auto;
    width: 150px;
    height: 150px;
    display: block;
    background: white;
    border-radius: 50%;
    box-shadow: rgba(172, 172, 172, 0.1) 0px 0px 16px;
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
  }
  .aboutpage_container img{
    margin-top: 28px;
    margin-bottom: 20px;
  }
  .owners-card, .partner-card{
    width: 100%;
    position: relative;
  }
  .owners-content, .partner-content{
    padding: 10px;
    text-align: center;
  }
  .owners-content p{
    font-size: 14px;
    margin-bottom: 2px;
    color: rgba(224, 219, 219, 0.781);
    font-family: 'Segoe UI';
    font-weight: 600;
  }
  
 
  .aboutus-card{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   width: 900px;
   padding: 5px;
   position: relative;
   overflow: hidden;
  }
  .normaltext{
    font-family: 'Segoe UI';
    font-size: 13px;
    font-weight: 300;
}

/*----------------------------PARTNERS SECTION----------------------------*/
#partnersid{
  background-image: linear-gradient(to bottom, #2e2e32, #29292c, #242426, #202021, #1b1b1b);
}
.partners-cards{
  padding: 0% 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
  margin: 0px, 25%;
  margin-top: 40px;
  padding-top: 80px;
}
.partner-card img{
  margin: auto;
  width: 100px;
  height: 100px;
  display: block;
  background: white;
  border-radius: 50%;
  box-shadow: rgba(172, 172, 172, 0.1) 0px 0px 16px;
  box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.partner-content h2{
  font-size: 18px;
  padding: 5px;
}
.partner-content a{
  text-decoration: none;
}
.partner-content h2:hover{
  color:rgba(143, 158, 170, 0.781);
}
.partner-card{
  padding: 40px 3px 20px 2px;
  box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 992px) {
  .partners-cards{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .partners-cards{
      grid-template-columns: 1fr;
  }
}

  
/*----------------------------PRODUCTS SECTION----------------------------*/

.productlist_container {/*child#4 of mainbar_container*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 2rem;
    margin: 0px 10%;
    padding-bottom: 50px;
  }
  
  .productlist_container .product {
    text-align: center;
    background: #1b1b1b;
    cursor: pointer;
    height: 100%;
    width: auto;
  }
  
  .productlist_container .product:hover {
    outline: 0.1rem solid black;
    background: rgb(206, 205, 205);
    box-shadow: 0 2px 15px 0 rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
  }
  .productlist_container .product img {
    height: 150px;
    width: auto;
    background-image: linear-gradient(to right, #000 1px, transparent 1px),
      linear-gradient(to bottom, #000 1px, transparent 1px);
      box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
      border-radius: 1px;
    opacity: 0.9;
  }
  .productlist_container .product:hover img {
    transform: scale(0.9);
  }
  .productlist_container .product .book-title {
    font-size: 12px;
    color: white;
  }
  
  .productlist_container .product .author_date {
    padding: 2px;
    font-size: 8px;
    color: white;
  }
  
  .featuredbook_container {
    margin: auto;
    padding: 0px 30px;
    padding-top: 100px;
    text-align: center;
  }
  
  .featuredbook img {
    height: 200px;
    width: auto;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
  }
  
  .featuredbook img:hover {
    transform: scale(0.9);
    outline: 0.1rem solid #1b1b1b;
    background: rgb(206, 205, 205);
    box-shadow: 0 2px 15px 0 rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
  }
  
  /*----------------------------PRODUCTS PREVIEW----------------------------*/
  .products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 5;
  }
  
  .products-preview .preview{
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 20rem;
    display: none;
  }
  
  .products-preview .preview.active{
    display: inline-block;
  }
  
  .products-preview .preview img{
    height: 18rem;
  }
  
  .fa-times{
    position: absolute;
    top:1rem; 
    right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 1rem;
  }
  
  .fa-times:hover{
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
  
  .products-preview .preview h3{
    color:#444;
    font-size: 1.2rem;
  }
  
  .products-preview .preview .stars{
    padding: 3px;
    font-size: 0.6rem;
  }
  
  .products-preview .preview .stars i{
    color:goldenrod;
  }
  
  .products-preview .preview .stars span{
    color:#999;
  }
  
  .products-preview .preview p{
    padding:3px 0;
    font-size: 9px;
    color:#777;
  }
  
  .products-preview .preview .price{
    font-size: 1.8rem;
    color:#bb9d18;
  }
 /*----------------------------BUTTONS----------------------------*/
.buttons{
    background-image: linear-gradient(#464d55, #25292e);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    color: #fff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 600;
    padding: 7px 10px;
    text-align: center;
    box-shadow:  0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    text-decoration: none;
    cursor: pointer;
}
  
  .buttons:hover {
      box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
      opacity: .85;
    }
  .buttons:active {
    background-color: #f3f4f6;
    transform: translateY(0.125rem);
  }
  .buttons.button2{ /*Shop Now button*/
      background: linear-gradient(45deg, #41be75, #27ae60);
      border-radius: 1rem;
      margin: 10px 0px;
  }
  
  .buttons.button3{ /*Read More button*/
      background-image: radial-gradient(circle, #ecf0f1, #dfe2e3, #d2d3d5, #c5c6c6, #b8b8b8);
      font-size: 13px;
    font-weight: 500;
      color: #1a1a1a;
      bottom:0;
  }
  .buttons.button4{ /*Log-Out button*/
    position: absolute;
    border-radius: 1rem;
    margin: 10px;
    width:100px;
    text-align: center;
    right: 0;
  }
  .buttons.button5{ /*Back button*/
    position: absolute;
    border-radius: 0;
    width:30px;
    text-align: center;
    left: 0;
  }
  .buttons.button6{ /*Added button*/
    background: linear-gradient(45deg, #41be75, #27ae60);
  }


  .prevbutton{ /*the addtocart button every preview sa product*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
  }


  

